body {
    background-color: rgb(104, 109, 114);
    background-image:url("../img/background.jpg");
    background-size:cover;
    
    /* header */
}
.hero{
    border-bottom: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(53, 56, 58);
    background-image: url("../img/starts2.jpg");
}

/* body */
.profile-pic-figure {
    width: 17%;
}

.profile-pic-figure img {
    border: 5px double rgba(248, 250, 250, 0.945);
    border-radius:10%;

}
.h1 {
    font-size: 500%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(179, 178, 175);
    text-shadow: 4px 2px 5px rgba(154, 155, 156, 0.849);
}

.directory{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100;
    list-style-type: none;
}

/* buttons styling*/
.button1{ 
    width: 300px;
    height: 60px;
    border: none;
    background-color: rgba(153, 149, 149, 0.486);
    border-radius: 4px;
    box-shadow: inset 0000 #070707;
    transition: ease-out 0.3s;
    font-size: 2rem;
}

.button1:hover {
    box-shadow:inset 300px 000 #232324;
    cursor: pointer;
    color: #c9e2e2;
}

.button2{
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgba(145, 209, 212, 0.425);
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline:none;
    font-size: 1rem;
    border: 3px solid rgb(139, 135, 132);
    position:relative   
}

.button2:hover {
    color: aliceblue;
    cursor: pointer;
}

.button2:before{
    transition: 0.5s all ease;
    position:absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom:0;
    opacity:0;
    content:"";
    background-color: rgb(26, 208, 221)
}

.button2:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
/* pictures */
img {
    width: 100%;
    height: auto;
}
.middle-pic{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;



}
/* main */
 .container{
    width: 100%;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: row;
}
 #about-me{
    flex: 1;
    font-size: 20px;
    color: rgba(119, 141, 156, 0.856);
    background-color: rgba(0, 0, 0, 0.342);
    font-family: Georgia, 'Times New Roman', Times, serif;
 } 
 #my-work{
    flex: 1;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.904);
    background-color: rgba(119, 141, 156, 0.397);
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

/* footer */
 #contact-info{
    font-size: 30px;
    color: rgb(119, 121, 121);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


 @media screen and (max-width:768px){
    .container{ 
        width: 100%;
        flex-direction: column;
    }
 }